body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    margin: 5px 0;
}

section {
    margin-bottom: 20px;
}

section h2 {
    background-color: #333;
    color: #fff;
    padding: 10px;
    margin: 0;
}

.job, .education {
    margin-top: 10px;
    padding: 10px;
    border-left: 3px solid #333;
    background-color: #f9f9f9;
}

.job h3, .education h3 {
    margin: 0;
    font-size: 1.2em;
}

.job h4, .education h4 {
    margin: 5px 0;
    font-style: italic;
    color: #666;
}

.skills, .languages {
    list-style-type: none;
    padding: 0;
}

.skills li, .languages li {
    background-color: #f9f9f9;
    margin: 5px 0;
    padding: 10px;
    border-left: 3px solid #333;
}
